<p>permis works!</p>
<!--
 <div class="top_container">
    <p class="text">Create Role</p>

  </div>

  <div class="top2_cont">
    <button class="b1"> <p class="text2"> Create Role</p></button>
        <div class="s1"> </div>
     <button class="b2"> <p class="text3"> Permissions</p></button>

  </div>


  <button class="b5">Cancel</button>
    <button class="b6">Next</button>






<div class="cont">
 <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
 <!-- Position Column -->
 <!--
  <ng-container matColumnDef="position">
    <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
    <mat-cell *matCellDef="let element"> <mat-slide-toggle>{{element.weight}}</mat-slide-toggle>
 </mat-cell>
  </ng-container>

  <!-- Name Column -->
 <!--
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> <mat-slide-toggle>{{element.position}}</mat-slide-toggle> </mat-cell>
  </ng-container>

  <!-- Weight Column -->
 <!--
  <ng-container matColumnDef="weight">
    <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
    <mat-cell *matCellDef="let element">  <button mat-button [matMenuTriggerFor]="menu">{{element.name}}<mat-icon>keyboard_arrow_down</mat-icon> </button>
<mat-menu #menu="matMenu">

  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu> </mat-cell>
  </ng-container>

  <!-- Symbol Column -->

 <!--
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
</div>
    -->
